<!-- <div id="bg"></div> -->
<!-- <div id="bg"></div> -->
<!-- <p class="bg">home-page dcfgvkhlvjh.kbl;'kjhgkfdjhgkjl;'works!</p> -->
<!-- <header>
    <a href="#" id="logo">Logo</a>
  </header> -->
  
  <section id="hero1" class="hero">
    <div class="inner">
      <div class="copy">
      <h1>Travel is fun</h1>
      <p>come to trip and have the lot of enjoy</p>
      </div>
    </div>
  </section>
  
  <section class="content">
    <div class="inner">
      <div class="copy">
      <h1>Amazing places!</h1>
      <p>😎😎😎😎😎😎😎 </p>
      </div>
    </div>
  </section>
  
  <section id="hero2" class="hero">
    <div class="inner">
      <div class="copy">
        <h1>Travel is fun</h1>
        <p>come to trip and have the lot of enjoy</p>
      </div>
    </div>
  </section>
    
  <section class="content">
    <div class="inner">
      <div class="copy">
      <h1>good emvinvromemt</h1>
        <p> 👍👍👍👍👍👍👍</p>
      </div>
    </div>
  </section>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>